.trading-deck-perspective {
    perspective: 1200px;
}

.trading-card-preserve-3d {
    transform-style: preserve-3d;
}

.trading-card-backface-hidden {
    backface-visibility: hidden;
}

.trading-card-rotate-y-180 {
    transform: rotateY(180deg);
}

.trading-card-gloss {
    background: linear-gradient(135deg,
            rgba(255, 255, 255, 0.1) 0%,
            rgba(255, 255, 255, 0) 40%,
            rgba(255, 255, 255, 0) 60%,
            rgba(255, 255, 255, 0.05) 100%);
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}